<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IDataService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5001/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_IDataService"
                contract="WcfServiceReference.IDataService" name="MetadataExchangeHttpBinding_IDataService" />
            <endpoint address="http://localhost:5001/data" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataService" contract="WcfServiceReference.IDataService"
                name="BasicHttpBinding_IDataService" />
        </client>
    </system.serviceModel>
</configuration>